.img-me{
    float: right;
    max-width: 150px;
    top: 0;
}
.img-techno{
    width: 100px;
	height: 100px;
}

.nombre-tech{
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
.techno{
    width: 100px;
	transition: 0.3s;
}
.techno:hover{
	transform: scale(1.2);
}
.technologies{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

hr{
    margin: 50px 0;
}
.mysql{
    padding: 24px 0;
}
.title{
    margin-bottom: 24px;
    margin-top: 24px;
}
.main-info{
    font-size: 1.2rem;
}
ul{
    font-size: 1rem;
}
li  a{
    font-size: 1.4rem;    
}
.footer{
    text-align: center;
    
}