body{
    margin: 0;
    padding: 0;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00142e, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00142e, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color:#E0E0E0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden scroll; 
    
}

b{
    color:#FFFFFF;
    font-weight: 400;
}
h2{
    color:#FFFFFF;
    font-weight: 400;
}

.img-techno{
    margin:0;
    padding: 0;
    width:72px;
	height: 72px;
}

.nombre-tech{
    text-align: center;
    font-size: larger;
    font-weight: 400;
    color:#FFFFFF;
}
.techno{
    width: 72px;
	transition: 0.3s;
}
.techno:hover{
	transform: scale(1.2);
}
ul{
    margin: 0;
    padding:0;
}
.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 32px;
    max-width: 900px;
    width: 80vw;
}

.technologies{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

hr{
    margin: 20px 0;
    color:white;
}

.title{
    font-weight: 400;
    font-size: 42px;
    margin-top: 0;
}
.info{
    font-size: 1.2rem;
}

ul{
    font-size: 1rem;
}
li{
    display: flex;
    flex-direction: column;
    margin:15px 0;
}
li > * {
    margin:8px 0;
    padding: 0;
}
section{
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
li p{
    font-weight: 200;

    font-size: 1rem;
}

header{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding:0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,56,168,1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: end;


}
@media (max-width: 800px) {
    
    header {
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }
}
.header-links{
    display: flex;
    flex-direction: row;
}
a {
    transition: transform 0.3s ease;

}
a:hover{
    transform: translateY(-5px);
}

.netsuite-img{
    background-color: rgba(255, 255, 255, 1);
    border-radius:12px;
}
.cv-ico{
    align-self: flex-end;
    
    margin-left: auto; /* Empuja el ícono hacia la derecha */
}
.header-img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 20px;
}
@media(min-width: 800px){
    .header-main{
        padding-right: 12%;
    }
    
}
h1{
    margin: 0;
}
.header-title{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 200px;
    border-radius: 12px;
}
.right
li a{
    color: #56CCF2;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;    
}

.project-title{
    font-size: 1.4rem;
    font-weight: 400;
}

.project-image {
    width: 100%; /* O ajusta según sea necesario */
    max-width: 480px; /* Para evitar que se desborden */
    height: auto; /* Mantiene las proporciones */
    margin: 10px 0; /* Espaciado superior e inferior */
    border-radius: 10px; /* Bordes redondeados, opcional */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.footer{
    text-align: center;
}

.blazor-img{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.15);
}
.background-white{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}